*

# Snakefile, rules, scripts
!Snakefile
!rules
!rules/*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!envs
!envs/*
!environment.yaml
!resources
!resources/*

# Project specific
!config.yaml
!samples.tsv
!units.tsv 
!regions_of_interest.bed
!snpEff.config
!adapter.fa
#!genomes_and_annotations
#!genomes_and_annotations/*
#!genomes_and_annotations/snpeffdata
#!genomes_and_annotations/snpeffdata/*
#!genomes_and_annotations/Sorghum
#!genomes_and_annotations/Sorghum/*
#!/genomes_and_annotations/snpeffdata/genomes/
#!/genomes_and_annotations/snpeffdata/Sorghum_bicolor_NCBIv3.42/

# other
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test

!schemas
!schemas/*
!.test/data
!.test/samples.tsv
!.test/units.tsv
!.test/config.yaml
!report
!report/*.rst
